services:

  web:
    image: lscr.io/linuxserver/swag:5.1.0
    container_name: web
    hostname: web
    cap_add:
      - NET_ADMIN
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Amsterdam
      - URL=timsdomain.duckdns.org
      - VALIDATION=duckdns
      - CERTPROVIDER=zerossl
      - EMAIL=${ZERO_SSL_EMAIL}
      - SUBDOMAINS=wildcard
      - DUCKDNSTOKEN=${DUCKDNS_TOKEN}
      - DOCKER_MODS=linuxserver/mods:swag-dashboard|linuxserver/mods:swag-dbip
    volumes:
      - /home/tim/config/swag:/config
    ports:
      - 443:443
      - 80:80
      - 81:81
    networks:
      - home-web
    restart: unless-stopped

  wg-easy:
    image: ghcr.io/wg-easy/wg-easy:15.1.0
    container_name: wg-easy
    networks:
      wg:
        ipv4_address: 10.42.42.42
        ipv6_address: fdcc:ad94:bacf:61a3::2a
    volumes:
      - /home/tim/config/wireguard:/etc/wireguard
      - /lib/modules:/lib/modules:ro
    ports:
      - "51820:51820/udp"
      - "51821:51821/tcp"
    restart: unless-stopped
    cap_add:
      - NET_ADMIN
      - SYS_MODULE
    sysctls:
      - net.ipv4.ip_forward=1
      - net.ipv4.conf.all.src_valid_mark=1
      - net.ipv6.conf.all.disable_ipv6=0
      - net.ipv6.conf.all.forwarding=1
      - net.ipv6.conf.default.forwarding=1

  authelia:
    image: ghcr.io/authelia/authelia:4.39.15
    container_name: authelia
    hostname: authelia
    user: "1000:1000"
    depends_on:
      - web
    environment:
      - TZ=Europe/Amsterdam
    expose:
      - 9091
    volumes:
      - /home/tim/config/authelia:/config
    networks:
      - home-web
    restart: unless-stopped

  gluetun:
    image: ghcr.io/qdm12/gluetun:v3.40.3
    container_name: gluetun
    hostname: gluetun
    cap_add:
      - NET_ADMIN
    devices:
      - /dev/net/tun:/dev/net/tun
    environment:
      - VPN_SERVICE_PROVIDER=nordvpn
      - VPN_TYPE=wireguard
      - SERVER_COUNTRIES=Netherlands
      - SERVER_CITIES=Amsterdam
      # Wireguard:
      - WIREGUARD_PRIVATE_KEY=${NORDVPN_TOKEN}
      - TZ=Europe/Amsterdam
      # Server list updater
      # See https://github.com/qdm12/gluetun-wiki/blob/main/setup/servers.md#update-the-vpn-servers-list
      - UPDATER_PERIOD=24h
    volumes:
      - /home/tim/config/gluetun:/gluetun
    ports:
      - 8888:8888/tcp # HTTP proxy
      - 8388:8388/tcp # Shadowsocks
      - 8388:8388/udp # Shadowsocks
      - 9091:9091 # Transmission
      - 51413:51413 # Transmission
      - 51413:51413/udp # Transmission
      - 8090:8090
      - 6789:6789 # NZBGet
      - 8480:8080 # SabNZB
    networks:
      - home-web
    restart: unless-stopped

  homeassistant:
    image: ghcr.io/home-assistant/home-assistant:2025.11.3
    container_name: homeassistant
    hostname: homeassistant
    cap_add:
      - NET_ADMIN
      - NET_RAW
    depends_on:
      - web
      - transmission
      - influxdb
      - telegraf
    healthcheck:
      test: ["CMD", "curl", "-s", "http://localhost:8123"]
      interval: 5s
      timeout: 3s
      retries: 100
    privileged: true
    devices:
      - /dev/ttyAMA0
      - /dev/ttyACM0
    environment:
      - TZ=Europe/Amsterdam
    volumes:
      - /home/tim/config/homeassistant:/config
      - /run/dbus:/run/dbus:ro
    network_mode: host
    restart: unless-stopped

  influxdb:
    image: influxdb:2.7.12
    container_name: influxdb
    hostname: influxdb
    depends_on:
      - web
    environment:
      - DOCKER_INFLUXDB_INIT_MODE=setup
      - DOCKER_INFLUXDB_INIT_USERNAME=${INFLUXDB_USER}
      - DOCKER_INFLUXDB_INIT_PASSWORD=${INFLUXDB_USER_PASSWORD}
      - DOCKER_INFLUXDB_INIT_ORG=home
      - DOCKER_INFLUXDB_INIT_BUCKET=home-assistant
    volumes:
      - /home/tim/config/influxdb2:/var/lib/influxdb2
    ports:
      - 8086:8086
    networks:
      - home-web
    restart: unless-stopped

  telegraf:
    image: telegraf:1.36.4 
    container_name: telegraf
    hostname: telegraf
    user: telegraf:996 #Ensure docker group ID is correct
    privileged: true
    depends_on:
      - web
      - influxdb
    links:
      - influxdb
    environment:
      - HOST_PROC=/hostfs/proc
      - HOST_MOUNT_PREFIX=/hostfs
      - TELEGRAF_INFLUXDB_TOKEN=${TELEGRAF_INFLUXDB_TOKEN}
      - TELEGRAF_INFLUXDB_ORG=${TELEGRAF_INFLUXDB_ORG}
      - TELEGRAF_INFLUXDB_BUCKET=${TELEGRAF_INFLUXDB_BUCKET}
    volumes:
      - /:/hostfs:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./services/telegraf/telegraf.conf:/etc/telegraf/telegraf.conf:ro
    networks:
      - home-web
    restart: unless-stopped

  grafana:
    image: grafana/grafana:12.3.0
    container_name: grafana
    hostname: grafana
    user: 0:0
    depends_on:
      - web
      - telegraf
    volumes:
      - /home/tim/config/grafana:/var/lib/grafana
    ports:
      - 3000:3000
    networks:
      - home-web
    restart: unless-stopped

  transmission:
    image: linuxserver/transmission:4.0.6
    container_name: transmission
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Amsterdam
      - USER=${TRANSMISSION_USERNAME}
      - PASS=${TRANSMISSION_PASSWORD}
    volumes:
      - /home/tim/config/transmission:/config
      - /home/tim/nas/data/torrents:/data/torrents
    network_mode: "service:gluetun"
    restart: unless-stopped

  nzbget:
    image: lscr.io/linuxserver/nzbget:25.4.20251121
    container_name: nzbget
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Amsterdam
      - NZBGET_USER=${TRANSMISSION_USERNAME}
      - NZBGET_PASS=${TRANSMISSION_PASSWORD}
    volumes:
      - /home/tim/config/nzbget:/config
      - /home/tim/nas/data/usenet:/data/usenet
    network_mode: "service:gluetun"
    restart: unless-stopped

  sabnzbd:
    image: lscr.io/linuxserver/sabnzbd:4.5.5
    container_name: sabnzbd
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Amsterdam
    volumes:
      - /home/tim/config/sabnzbd:/config
      - /home/tim/nas/data/usenet:/data/usenet
    network_mode: "service:gluetun"
    restart: unless-stopped
  
  sonarr:
    image: linuxserver/sonarr:4.0.16
    container_name: sonarr
    hostname: sonarr
    depends_on:
      - web
      - prowlarr
      - transmission
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Amsterdam
    volumes:
      - /home/tim/config/sonarr:/config
      - /home/tim/nas/data:/data
    ports:
      - 8989:8989
    networks:
      - home-web
    restart: unless-stopped
  
  radarr:
    image: linuxserver/radarr:6.0.4
    container_name: radarr
    hostname: radarr
    depends_on:
      - web
      - prowlarr
      - transmission
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Amsterdam
    volumes:
      - /home/tim/config/radarr:/config
      - /home/tim/nas/data:/data
    ports:
      - 7878:7878
    networks:
      - home-web
    restart: unless-stopped

  readarr:
    image: lscr.io/linuxserver/readarr:0.4.19-nightly
    container_name: readarr
    hostname: readarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Amsterdam
    volumes:
      - /home/tim/config/readarr:/config
      - /home/tim/nas/data:/data
    ports:
      - 8787:8787
    networks:
      - home-web
    restart: unless-stopped

  lidarr:
    image: lscr.io/linuxserver/lidarr:3.1.1-nightly
    container_name: lidarr
    hostname: lidarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Amsterdam
    volumes:
      - /home/tim/config/lidarr:/config
      - /home/tim/nas/data:/data
    ports:
      - 8686:8686
    networks:
      - home-web
    restart: unless-stopped

  prowlarr:
    image: lscr.io/linuxserver/prowlarr:2.3.1-nightly
    container_name: prowlarr
    hostname: prowlarr
    depends_on:
      - web
      - flaresolverr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Amsterdam
    volumes:
      - /home/tim/config/prowlarr:/config
    ports:
      - 9696:9696
    networks:
      - home-web
    restart: unless-stopped

  audiobookshelf:
    image: ghcr.io/advplyr/audiobookshelf:2.30.0
    container_name: audiobookshelf
    hostname: audiobookshelf
    environment:
      - TZ=Europe/Amsterdam
      - PORT=13378
    ports:
      - 13378:13378
    volumes:
      - /home/tim/nas/data/media/audio/audiobooks:/audiobooks
      - /home/tim/nas/data/media/audio/podcasts:/podcasts
      - /home/tim/config/audiobookshelf:/config
      - /home/tim/nas/data/media/audiobookshelf/metadata:/metadata
    networks:
      - home-web
    restart: unless-stopped

  flaresolverr:
    image: ghcr.io/flaresolverr/flaresolverr:v3.4.6
    container_name: flaresolverr
    hostname: flaresolverr
    environment:
      - LOG_LEVEL=${LOG_LEVEL:-info}
      - LOG_HTML=${LOG_HTML:-false}
      - CAPTCHA_SOLVER=${CAPTCHA_SOLVER:-none}
      - TZ=Europe/Amsterdam
    ports:
      - "${PORT:-8191}:8191"
    networks:
      - home-web
    restart: unless-stopped

  plex:
    image: linuxserver/plex:1.42.2
    container_name: plex
    hostname: plex
    depends_on:
      - web
      - sonarr
      - radarr
    environment:
      - PUID=1000
      - PGID=1000
      - VERSION=docker
    volumes:
      - /home/tim/config/plex:/config
      - /home/tim/nas/data/media:/data/media
      - /tmp/transcoding:/tmp/transcoding
    network_mode: host
    restart: unless-stopped

  huntarr:
    image: ghcr.io/plexguide/huntarr:8.2.10
    container_name: huntarr
    hostname: huntarr
    environment:
      - TZ=Europe/Amsterdam
    volumes:
      - /home/tim/config/huntarr:/config
    ports:
      - 9705:9705
    networks:
      - home-web
    restart: unless-stopped

  notifiarr:
    image: golift/notifiarr:0.9.1
    container_name: notifiarr
    hostname: notifiarr
    environment:
      - DN_API_KEY=${DN_API_KEY}
      - DN_UI_PASSWORD=${DN_UI_PASSWORD}
    volumes:
      - /home/tim/config/notifiarr:/config
      - /var/run/utmp:/var/run/utmp
      - /etc/machine-id:/etc/machine-id
    ports:
      - 5454:5454
    networks:
      - home-web
    restart: unless-stopped
  
  speedtest-tracker:
    image: linuxserver/speedtest-tracker:1.8.0
    container_name: speedtest-tracker
    hostname: speedtest-tracker
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Amsterdam
      - MAIL_HOST=${SPEEDTEST_MAIL_HOST}
      - MAIL_PORT=${SPEEDTEST_MAIL_PORT}
      - MAIL_USERNAME=${SPEEDTEST_MAIL_USERNAME}
      - MAIL_PASSWORD=${SPEEDTEST_MAIL_PASSWORD}
      - MAIL_ENCRYPTION=${SPEEDTEST_MAIL_ENCRYPTION}
      - MAIL_FROM_ADDRESS=${SPEEDTEST_MAIL_FROM_ADDRESS}
      - APP_KEY=${SPEEDTEST_APP_KEY}
      - DB_CONNECTION=sqlite
      - SPEEDTEST_SCHEDULE="0 */6 * * *"
      - SPEEDTEST_SERVERS="49730,61186"
      - PRUNE_RESULTS_OLDER_THAN=120
    volumes:
      - /home/tim/config/speedtest:/config
    ports:
      - 8080:80
    networks:
      - home-web
    restart: unless-stopped

networks:
  home-web:
  wg:
    driver: bridge
    enable_ipv6: true
    ipam:
      driver: default
      config:
        - subnet: 10.42.42.0/24
        - subnet: fdcc:ad94:bacf:61a3::/64
